<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.dao.mapper.GoodsMapper">
  
    <select id="QueryMyGoods" parameterType="Goods" resultType="Goods">
        SELECT * FROM Goods WHERE 1=1
             AND userid=#{userid}
        <if test="name!=null and name !=''">
            AND name LIKE CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if test="flag!=null and flag !=''">
            AND flag=#{flag}
        </if>

    </select>
    <select id="QueryGoodsById" parameterType="String" resultType="Goods">
        select * from Goods WHERE id=#{id}
    </select>
    <update id="ChangeGoodsInfo" parameterType="Goods">
        UPDATE Goods SET
         name=#{name},
         num=#{num},
         mark=#{mark},
         price=#{price}
         where id=#{id}
    </update>
    <insert id="AddGoods" parameterType="Goods">
        INSERT INTO Goods (id,name,num,price,mark,flag,type,userid) VALUES (
        #{id},
        #{name},
        #{num},
        #{price},
        #{mark},
        #{flag},
        #{type},
        #{userid}
        )
    </insert>
    <select id="QueryAllyGoods" parameterType="Goods" resultType="Goods">
        SELECT * FROM Goods WHERE 1=1
        <if test="userid!=null and userid!=''">
            AND userid=#{userid}
        </if>
        <if test="flag!=null and flag!=''">
            AND flag=#{flag}
        </if>
    </select>
    <select id="QueryAllUserId" resultType="String">
        SELECT DISTINCT userid FROM Goods
    </select>
    <update id="ChangeGoodsFlag" parameterType="Goods">
        UPDATE Goods
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="num!=null and num!=''">
                num=#{num},
            </if>
            <if test="price!=null and price!=''">
                price=#{price},
            </if>
            <if test="mark!=null and mark!=''">
                mark=#{mark},
            </if>
            <if test="type!=null and type!=''">
                type=#{type},
            </if>
            <if test="flag!=null and flag!=''">
                flag=#{flag},
            </if>
            <if test="userid!=null and userid!=''">
                userid=#{userid}
            </if>
        </trim>
        WHERE id=#{id}
    </update>
    <select id="QueryAllFlagedGoods" parameterType="Goods" resultType="Goods">
        select * from Goods WHERE flag=1
        <if test="name!=null and name !=''">
            AND name LIKE CONCAT(CONCAT('%',#{name}),'%')
        </if>
        <if test="userid!=null and userid!=''">
            AND userid=#{userid}
        </if>
        <if test="type!=0">
            AND type=#{type}
        </if>
    </select>
    <select id="QueryGoodsType" resultType="String">
        select DISTINCT type from Goods
    </select>
</mapper>