<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <!-- 配置不过滤的资源（静态资源及登录相关） -->
    <sec:http pattern="/**/*.css" security="none"></sec:http>
    <sec:http pattern="/static/img/*.jpg" security="none"></sec:http>
    <sec:http pattern="/**/*.jpeg" security="none"></sec:http>
    <sec:http pattern="/**/*.gif" security="none"></sec:http>
    <sec:http pattern="/**/*.png" security="none"></sec:http>
    <sec:http pattern="/js/*.js" security="none"></sec:http>

    <sec:http pattern="/WEB-INF/view/login.jsp" security="none"></sec:http>
    <sec:http pattern="/getCode" security="none" /><!-- 不过滤验证码 -->
    <sec:http pattern="/test/**" security="none"></sec:http><!-- 不过滤测试内容 -->

    <sec:http auto-config="true" use-expressions="true">
        <sec:intercept-url pattern="/app.jsp" access="ROLE_SERVICE"/>
        <sec:intercept-url pattern="/index.jsp" access="hasAnyRole('ROLE_ADMIN','ROLE_USER','ROLE_SALE')"/>
       <!-- <sec:intercept-url pattern="/**" access="ROLE_ADMIN"/>-->
        <sec:form-login login-page="/user/login" authentication-failure-url="/user/login?error=true"
                        default-target-url="/user/check"/>
    </sec:http>

    <sec:authentication-manager>
        <sec:authentication-provider user-service-ref="userDetailService"/>
    </sec:authentication-manager>
    <bean id="userDetailService" class="com.neuedu.service.MyUserDetailService"/>

</beans>